demo/demo-studio/src/main/resources/usergroups/schemas/demo-kmsxvocabulary.xsd

<?xml version="1.0"?>

<xs:schema
  targetNamespace="http://www.nuxeo.org/ecm/schemas/kmsxvocabulary"
  xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:nxs="http://www.nuxeo.org/ecm/schemas/kmsxvocabulary"
>
  <xs:include schemaLocation="base.xsd"/>

  <xs:element name="id" type="xs:string"/>
  <xs:element name="label" type="xs:string"/>
  <xs:element name="parent" type="xs:string"/>
  <xs:element name="obsolete" type="xs:integer" default="0"/>
  <xs:element name="ordering" type="xs:integer" default="10000000"/>

  <xs:element name="depth" type="xs:integer" default="0"/>

  <!-- references -->
  <xs:element name="users" type="nxs:stringList"/>

</xs:schema>
